.evCarsCardCont{
    min-height: 200px;
    min-width: 360px;
    width: 100%;
    padding: 1rem;
    transition: all 0.3s ease;
}
@media screen and(max-width: 1200px) {
    .evCarsCardCont{
        flex: none;
        height: 200px;

    }
}

.headers{
    display: flex;
    height: 1rem;
    align-items: center;
    width: 100%;
}
.statsCont{
    display: flex;
}
.graphCont{
    display: flex;
}
.categoryCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: var(--whiteColor);
}
.model{
    font-size: 0.6rem;
    color: var(--lightGrayColor);
    padding: 0.4rem;
}
.name{
    font-size: 0.6rem;
    color: var(--primaryColor);
    padding: 0.4rem;

}
.trailingBtn{
    padding: 0.4rem;
}
.statsCont{
    display: flex;
    justify-content: space-between;
}
.stat{
    /* width: 4rem;
    height: 4rem; */
    justify-content: center;
    align-items: center;
    color: var(--whiteColor);
    padding-bottom: 1rem;
    margin-top: 0.4rem;
}
.statsUnit{
    font-size: 0.6rem;
    color: var(--lightGrayColor);
    margin-bottom: 0.2rem;
}
.statsValue{
    font-size: 1.4rem;
    color: var(--whiteColor);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.graphCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.graphTitle{
    font-size: 0.8rem;
    color: var(--primaryColor);
    align-items: center;
    display: flex;
}
.graph{
    display: flex;
    align-items: center;
    background-color: var(--backgroundColor);
    border-radius: 0.5rem;
    margin-top: 0.4rem;
}
.graphBar{
    position: relative;
    width: 100%;
    height: 3.4rem;
    background:linear-gradient(90deg, var(--primaryColor) 0%, var(--primaryColorLight) 100%); ;
    margin: 0.2rem;
    border-radius: 0.5rem;
}
.graphDataCont{
    display: flex;
    width: 8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}
.unit{
    font-size: 1.2rem;
    color: var(--lightGrayColor);
    margin-left: 0.2rem;
}
.unitIcon{
    width: 1rem;
    height: 1rem;
    justify-content: center;
    align-items: center;
}
.graphText{
    font-size: 0.8rem;
    color: var(--lightGrayColor);
    margin-top: 0.2rem;
}
