.cardCont{
    background-color: var(--secondaryColor);
    border-radius: 1rem;
    margin-top:1.6rem ;
    display: flex;
    transition: all 0.3s ease;
    border:1px solid transparent;
}
.cardCont:hover{
    box-shadow: 0 0 10px 0 var(--primaryColor);
    border:1px solid var(--primaryColor);

}