.dashboardCont{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--backgroundColor);
    overflow-x: hidden;
    overflow-y: scroll;
    height: 89vh;
}
.dashboard{
    display: flex;
    flex:1;
    /* width: 100%; */
    background-color: var(--backgroundColor);
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1.6rem;
}
@media screen and (max-width: 1200px) {
    .dashboard{
        display: block;
    }
    .primaryDataCont{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
.section1{
    display: flex;
    flex:1;
    flex-direction: column;
}
.section2{
    display: flex;
    flex:2;
    flex-direction: column;
}






